{% with "http://w3schools.com/w3css" as w3Uurl %}
<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="{{ w3Uurl }}/tryit.asp?filename=tryw3css_templates_gourmet_catering&amp;stacked=h" target="_blank">Demo 1</a>
    <a href="{{ w3Uurl }}/tryit.asp?filename=tryw3css_templates_band&amp;stacked=h" target="_blank">Demo 2</a>
    <a href="{{ w3Uurl }}/tryit.asp?filename=tryw3css_templates_wedding&amp;stacked=h" target="_blank">Demo 3</a>
    <a href="{{ w3Uurl }}/tryit.asp?filename=tryw3css_templates_parallax" target="_blank">Demo 4</a>
    <a class="w3-right" href="/admin" target="_blank">Admin</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
{% endwith %}